/*universal*/
body{
  font: 15px/1.5 sans-serif;
  padding: 0;
  margin: 0;
  background-color: #defcff;
}

/*Global*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*Header*/
header{
  background: #b5dbe0;
  color: #1c2020;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #95aaad 3px solid;
}

header a{
  color: #1c2020;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  padding: 0 20px 0 20px;
}

header #brand{
  float: left;
}

header #brand h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight{
  color: #ff2929;
  font-weight: bold;
}

header h1{
  font-style: italic;
}

header a:hover{
  font-weight: bold;
}

/*logo*/
#logo{
  min-height: 400px;
  background: url('../img/hondaRed.jpg') no-repeat 0 -50px;
  align-items: center;
}
