/*universal*/
body{
  font: 15px/1.5 sans-serif;
  padding: 0;
  margin: 0;
  background-color: #7319cc;
}
/*universal FIN*/

/*Global*/
.highlightR{
  color: #b61616;
  font-weight: bold;
}

.intropic{
  background-image: url("/static/media/odo.jpg");
  background-color: #cccccc;
  border-radius: 3px;
  height: 40px;
  margin: auto;
  background-position: 51% 44%;
  text-align: center;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li{
  line-height: 1.5;
}
/*Global FIN*/

/*Header*/
header{
  background: #280137;
  color: #f2e8fc;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #95aaad 3px solid;
}

header a{
  color: #1c2020;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  padding: 0 20px 0 20px;
}

header #brand{
  float: left;
}

header #brand h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header h1{
  font-style: italic;
}

header a:hover{
  font-weight: bold;
}
/*Header FIN*/

/*INDEX content*/
#intro1{
  text-align: center;
  color: #260844;
  font-size: 19px;
}

#info1{
  color: #260844;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  border: #95aaad 3px solid;
  font-size: 20px;
  padding: 3px 13px 3px 13px;
}
/*INDEX content FIN*/

/*myCar content*/
#intro2{
  text-align: center;
  color: #260844;
  font-size: 19px;
}

#car1{
  color: #260844;
  width: 65%;
  margin: auto;
  margin-top: 0;
  border: #95aaad 3px solid;
  text-align: center;
  height: 600px;
  overflow: scroll;
}

#FG2{
  height: 500px;
  width: 700px;
  border-radius: 5px;
  margin: auto;
}

#info2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #260844;
  width: 60%;
  margin: auto;
  text-align: left;
}

#FG2Sound{
  margin-left: auto;
  background-color: inherit;
  color: inherit;
}
/*myCar content FIN*/

/*touge content*/

/*touge FIN*/

/*footer*/
footer{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 13px;
  margin-top: auto;
}
/*footer FIN*/
