<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="wdith=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  {% block head %} {% endblock %}
</head>
<body>
  <header>
    <div class="container">
      <!--branding-->
      <div id="brand">
        <h1><span class="highlightR">HR</span>R</h1>
      </div>
      <!--navagation-->
      <nav>
        <ul>
          <li> <a href="{{url_for('index')}}" class="highlightR"> Welcome </a> </li>
          <li> <a href="{{url_for('car')}}" class="highlightR"> Car </a> </li>
          <li> <a href="{{url_for('touge')}}" class="highlightR"> Touge </a> </li>
          <li> <a href="{{url_for('track')}}" class="highlightR"> Track </a> </li>
          <li> <a href="{{url_for('blog')}}" class="highlightR"> Blog </a> </li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="intropic">
  </section>
  {% block body %} {% endblock %}

  <!-- Footer -->
  <footer>
    <p> This site is designed by Frank Kong. </p>
  </footer>
  <!-- Script -->
  <script src="/static/myScript.js"></script>
</body>
</html>
