{% extends "baseTemplate.html" %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
  <!-- Content -->
  <section id="intro1">
    <div class="container">
      <h1>I am the <i class="highlightR">High Revving Racer</i>, Welcome to My Page</h1>
    </div>
  </section>

  <section class="container">
    <div id="info1">
      <p> Hi, I am a 21 years old aspiring race car driver.
          I have a passion for high revving naturally aspirated
          engines. My first car is a Honda FG2, which you can
          check out in the "Car" section of my website.</p>
    </div>
  </section>
{% endblock %}
