{% extends "baseTemplate.html" %}

{% block head %}
<title>My Car</title>
{% endblock %}

{% block body %}
  <audio id="FG2Audio">
    <source src="/static/media/startup.ogg" type="audio/ogg">
    Your browser does not support the audio element.
  </audio>
  <!-- Content -->
  <section id="intro2">
    <div class="container">
      <h1>My Cars</h1>
    </div>
  </section>

  <section class="container">
    <div id="car1">
      <h1><i>FG2</i></h1>
      <img id="FG2" src="/static/media/off.jpg"></img>
      <div id="info2">
        <ul>
          <li>Name: FG2 (Honda Civic SI Year 2006-2011)</li>
          <li>Engine: Honda K20 Family - K20Z3</li>
          <li>Horse Power: 197hp @ 7800RPM</li>
          <li>Torque: 139ft-lbs. @ 6100RPM</li>
        </ul>
        <button id="FG2Sound" onclick="turnOn();">On</button>
        <button id="FG2Sound" onclick="turnOff();">Off</button>
      </div>
    </div>
  </section>

  <section class="container">

  </section>
{% endblock %}
